@model Dake.Models.Setting

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">تنظیمات</h3>
                </div>
                <div class="row">
                    <form asp-action="CreateOrEdit" method="post" enctype="multipart/form-data">
						<div class="box-body">
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<input asp-for="id" type="hidden" class="form-control" />
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="countExpireDate" class="control-label"></label>
									<input asp-for="countExpireDate" class="form-control" />
									<span asp-validation-for="countExpireDate" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="countExpireDateIsespacial" class="control-label"></label>
									<input asp-for="countExpireDateIsespacial" class="form-control" />
									<span asp-validation-for="countExpireDateIsespacial" class="text-danger"></span>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="countExpireDateEmergency" class="control-label"></label>
									<input asp-for="countExpireDateEmergency" class="form-control" />
									<span asp-validation-for="countExpireDateEmergency" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="countExpireDateBanner" class="control-label"></label>
									<input asp-for="countExpireDateBanner" class="form-control" />
									<span asp-validation-for="countExpireDateBanner" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="countToSpecialNotice" class="control-label"></label>
									<input asp-for="countToSpecialNotice" class="form-control" />
									<span asp-validation-for="countToSpecialNotice" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="showPriceForCars" class="control-label"></label>
									@{
										if (Model.showPriceForCars)
										{

											<input type="checkbox" checked asp-for="showPriceForCars" />
										}
										else
										{
											<input type="checkbox" asp-for="showPriceForCars"   />

										}
									}
									<span asp-validation-for="showPriceForCars" class="text-danger"></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="AutoAccept" class="control-label"></label>
									@{
										if (Model.AutoAccept)
										{

											<input type="checkbox" checked asp-for="AutoAccept" />
										}
										else
										{
											<input type="checkbox" asp-for="AutoAccept"   />

										}
									}
									@*<span asp-validation-for="showPriceForCars" class="text-danger"></span>*@
								</div>
							</div>
							

							<div class="col-md-12">
								<div class="form-group">
									<label asp-for="wrongWord" class="control-label"></label>
									<br />
									<label class="control-label">لطفا کلمات را با - از هم جدا کنید</label>

									<textarea asp-for="wrongWord" class="form-control"></textarea>
									<span asp-validation-for="wrongWord" class="text-danger"></span>
								</div>
							</div>
							
							<div class="col-md-6">
								<div class="form-group">
									<input type="submit" value="ثبت" class="btn btn-default" />
								</div>
							</div>
								
							
						</div>
                    </form>
                </div>
            </div>
			<div class="box box-primary">
				<div class="box-header with-border">
                    <h3 class="box-title">مدریت اپلیکیشن ها</h3>
                </div>
				<div class="row">
					<div class="col-md-7" style="width: 100%;">
								<div class="form-group" style="padding: 10px;" >
									<label class="control-label">اپلیکیشن دکه</label>
									<div style="border: 2px solid #cdcdcd;border-radius: 5px;padding: 10px;"> 
										<input id="filedakehapk" name="File" type="file">
										<br>
									<button class="btn btn-default" onclick="uploadFileDakehApk()">ثبت</button>
									</div>
									<br>
									<br>
									<br>
									<label class="control-label">نرم افزارکمپرسورفیلم</label>
									<div style="border: 2px solid #cdcdcd;border-radius: 5px;padding: 10px;"> 
										<input id="Freevideocompressor" name="File" type="file">
										<br>
									<button class="btn btn-default" onclick="Freevideocompressor()">ثبت</button>
									</div>
									<br>
									<br>
									<label class="control-label">نرم افزاراندرویدکمپرسورفیلم</label>
									<div style="border: 2px solid #cdcdcd;border-radius: 5px;padding: 10px;"> 
										<input id="Freevideocompressorapk" name="File" type="file">
										<br>
									<button class="btn btn-default" onclick="Freevideocompressorapk()">ثبت</button>
									</div>
									<br>
									<br>
								<label class="control-label">اپلیکیشن ادیت و ساخت بنر اندروید</label>
									<div style="border: 2px solid #cdcdcd;border-radius: 5px;padding: 10px;">
								<input id="appbannerapk" name="File" type="file">
									<br>
								<button class="btn btn-default" onclick="appbanner()">ثبت</button>
									</div>

								</div>
							</div>
				</div>
			</div>
        </div>
    </div>
</section>
@section Scripts
    {
	<script>
		function uploadFileDakehApk() {
  var fileInput = document.getElementById('filedakehapk');
  var file = fileInput.files[0];

  var formData = new FormData();
  formData.append('file', file);

  $.ajax({
    url: '/AppManager/AddDakehApp',
    type: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success: function(response) {
      console.log(response);
	  alert("با موفقیت انجام شد")
    },
    error: function(xhr, status, error) {
      console.log(error);
	  alert("مشکلی در ثبت پیش امد")
    }
  });
}
function Freevideocompressor() {
  var fileInput = document.getElementById('Freevideocompressor');
  var file = fileInput.files[0];

  var formData = new FormData();
  formData.append('file', file);

  $.ajax({
    url: '/AppManager/AddFreevideocompressor',
    type: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success: function(response) {
      console.log(response);
	  alert("با موفقیت انجام شد")
    },
    error: function(xhr, status, error) {
      console.log(error);
	  alert("مشکلی در ثبت پیش امد")
    }
  });
}
function Freevideocompressorapk() {
  var fileInput = document.getElementById('Freevideocompressorapk');
  var file = fileInput.files[0];

  var formData = new FormData();
  formData.append('file', file);

  $.ajax({
    url: '/AppManager/AddFreevideocompressorapp',
    type: 'POST',
    data: formData,
    processData: false,
    contentType: false,
    success: function(response) {
      console.log(response);
	  alert("با موفقیت انجام شد")
    },
    error: function(xhr, status, error) {
      console.log(error);
	  alert("مشکلی در ثبت پیش امد")
    }
  });
}
		function appbanner() {
			var fileInput = document.getElementById('appbannerapk');
			var file = fileInput.files[0];

			var formData = new FormData();
			formData.append('file', file);

			$.ajax({
				url: '/AppManager/AddAppBanner',
				type: 'POST',
				data: formData,
				processData: false,
				contentType: false,
				success: function (response) {
					console.log(response);
					alert("با موفقیت انجام شد")
				},
				error: function (xhr, status, error) {
					console.log(error);
					alert("مشکلی در ثبت پیش امد")
				}
			});
		}
	</script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}