################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dake/FileContentIndex
*.suo
*.user
*.sln.docstates
/.vs
/Dake/bin
/Dake/obj
*.pubxml
*.dll
*.pdb