################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dake/FileContentIndex
*.suo
*.user
*.sln.docstates
/.vs
/Dake/bin
/Dake/obj
*.pubxml
*.dll
*.pdb
/.vs/Dake/config/applicationhost.config
/.vs/Dake/DesignTimeBuild/.dtbcache.v2
/.vs/Dake/v17/.suo
/.vs/Dake/v17/DocumentLayout.json
/Dake/obj/Debug/netcoreapp2.1/Dake.AssemblyInfoInputs.cache
