@media(max-width: 1200px)
{
    .photos
	{
		&__item
		{
			height: 217.5px;
			&--big
			{
				height: 455px;
			}
		}
	}
	.detail
	{
		&__side
		{
			padding-right: 90px;
		}
		&__slider
		{
			&__main
			{
				height: 435px;
			}
			&__thumb
			{
				right: -90px;
				width: 75px;
				.swiper-slide
				{
					height: unset;
				}
			}
		}
	}
}

@media(max-width: 992px)
{
	.photos
	{
		&__item
		{
			height: 157.5px;
			&--big
			{
				height: 335px;
			}
		}
	}
    .main-header {
        &__nav {
            >ul
                {
                >li
                    {
                    margin-left: 15px;
                }
            }
        }
    }
}

@media(max-width: 768px)
{
	body
	{
		padding-top: 64px;
	}
	.home
	{
		padding: 20px 0 0;
	}
	.main-header
	{
		&__mobile-menu-toggle
		{
			display: block;
		}
		&__nav
		{
			display: none
		}
		&__logo
		{
			img
			{
				max-height: 35px;
			}
		}
		&__btns
		{
			margin-right: 0;
		}
	}
	.site-name
	{
		h1,h2
		{
			font-size: 16px;
			margin-bottom: 0;
		}
		p
		{
			font-size: 14px;
		}
	}
	.cats
	{
		ul
		{
			li
			{
				a
				{
					line-height: 26px;
				    padding: 0 15px;
				}
			}
		}
	}
    .photos
	{
		&__item
		{
			height: 245px;
			&--big
			{
				height: 510px;
			}
		}
	}
	.detail
	{
		padding: 20px 0;
		&__breadcrumb
		{
			ul
			{
				li
				{
					margin-left: 15px;
					padding-left: 10px;
				}
			}
		}
		&__title
		{
			h1
			{
				font-size: 16px;
			}
		}
		&__side
		{
			padding-right: 0;
		}
		&__slider
		{
			margin-bottom: 30px;
			&__main
			{
				height: 435px;
				margin-bottom: 20px;
			}
			&__thumb
			{
				height: 80px;
				position: relative;
				right: unset;
				width: unset;
				.swiper-wrapper
				{
				    flex-direction: row-reverse;
				}
				.swiper-slide
				{
					height: 100%;
				}
			}
		}
	}
	.form
	{
		padding: 20px 0;
	}
	.myads
	{
		padding: 20px 0;
	}
}

@media(max-width: 576px)
{
	.photos
	{
		&__item
		{
			height: calc(100% - 20px);
			&--big
			{
				height: unset;
			}
		}
	}
	.detail
	{
		&__slider
		{
			margin-bottom: 30px;
			&__main
			{
				height: 300px;
			}
			&__thumb
			{
				height: 60px
			}
		}
	}
	.form
	{
		&__btn
		{
			button,a
			{
				width: 100%;
			}
		}
	}
	.myads
	{
		&__tabs
		{
			>ul
			{
				>li
				{
					padding: 0 15px;
					font-size: 15px;
				}
			}
		}
	}
}