/*

Author: Reza Dadkhah
Author URI: mailto:r.dadkhah.tehrani@gmail.com

*/

@import '../css/bootstrap-rtl.min';
@import '../css/bootstrap-select.min';
@import '../css/sweetalert2.min';
@import '../css/swiper.min';
@import '_fonts';
@import '_mixins';


$bgcolor: #f9f9f9;
$color: #83c030;
$black: #212121;


body {
    text-align: right;
    direction: rtl;
    font-family: yekan;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: $black;
    background-color: $bgcolor;
    padding-top: 84px;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none
    }
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: $black
}

img {
    max-width: 100%
}

.btn,
a.btn {
    line-height: 40px;
    display: inline-block;
    padding: 0 15px;
    @include border-radius(5px);
    border: none;
    @include transition(0.3s);
    position: relative;
    font-size: 14px;
    font-weight: 500;
    background-color: transparent;
    color: $color;
    position: relative;
    text-align: center;

    &-success {
        &:hover, :focus {
            background-color: #62d034;
            color: #fff;
        }
    }

    &:focus,
    .focus {
        color: $color;
        background-color: transparent;
        @include box-shadow(none)
    }

    &:hover {
        color: $color;
        background-color: transparent;
    }

    i {
        float: right;
        line-height: inherit;
        margin-left: 15px;
        font-size: 20px;
    }

    &-full {
        width: 100%;
        display: block;
        padding: 0;
    }

    &-mini {
        line-height: 24px;
        padding: 0 15px;
        @include border-radius(12px);
    }

    &-color {
        background-color: #eee;
        color: #555;
    }
}

.form-control {
    @include border-radius(0);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #9c9c9c;
    @include box-shadow(none);
    outline: none;
    font-size: 13px;
    font-weight: 400;
    line-height: 39px;
    height: 40px;
    color: #454545;
    background-color: transparent;
    padding: 0;
    display: block;
    width: 100%;
    @include transition(0.3s);

    &:focus, &:active {
        outline: none;
        @include box-shadow(none);
        background-color: transparent;
        border-color: #e1e1e1;
    }

    &:disabled, &[readonly] {
        background-color: #f9f9f9;
        opacity: 1;
    }

    &:last-child {
        margin-bottom: 0
    }

    &::placeholder {
        color: #454545;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: #454545;
    }

    &::-ms-input-placeholder {
        color: #454545;
    }
}

textarea.form-control {
    min-height: 200px;
    border-width: 1px;
    padding: 0 15px;

    &:focus, &:active {
        min-height: 200px;
    }
}

.form-group {
    h3 {
        line-height: 30px;
        font-size: 16px;
        border-bottom: 1px solid #eee
    }
}

.dropdown-menu {
    padding: 0;
    @include box-shadow(0 0 10px rgba(0,0,0,0.1));
    margin: 1px 0 0;
    @include border-radius(0);
    border: none;

    .dropdown-item {
        padding: 0 10px;
        line-height: 40px;
        font-size: 13px;

        &.active,
        &:active {
            background-color: #f8f9fa;
            color: #454545;
            outline: none;
        }
    }
}

.bootstrap-select {
    > .dropdown-toggle {
        text-align: right;
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: #9c9c9c;
        padding: 0;
        font-size: 13px;
        font-weight: 400;
        line-height: 39px;
        color: #454545;
        @include border-radius(0);
        background-color: transparent;

        &:focus {
            outline: unset;
            outline-offset: unset
        }

        &:after {
            margin-right: unset;
            vertical-align: unset;
            content: "\e901";
            font-family: 'dakeh';
            border-top: unset;
            border-right: unset;
            border-bottom: unset;
            border-left: unset;
            @include absolute(0,f,f,0);
            line-height: inherit;
            font-size: 10px;
        }

        &.btn-light:not(:disabled):not(.disabled).active,
        &.btn-light:not(:disabled):not(.disabled):active {
            background-color: transparent;
            @include box-shadow(none);
        }

        &.bs-placeholder,
        &.bs-placeholder:active,
        &.bs-placeholder:focus,
        &.bs-placeholder:hover {
            color: #454545;
        }
    }

    .filter-option-inner-inner {
        text-align: right;
    }

    > select.mobile-device {
        &:focus {
            + .dropdown-toggle {
                outline: unset;
                outline-offset: unset
            }
        }
    }

    &.show > .btn-light.dropdown-toggle {
        background-color: transparent;
        @include box-shadow(unset);
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0
}

.row[data-space="0"] {
    margin-right: 0;
    margin-left: 0;

    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.row[data-space="10"] {
    margin-right: -5px;
    margin-left: -5px;

    > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.row[data-space="15"] {
    margin-right: -7.5px;
    margin-left: -7.5px;

    > [class*="col-"] {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}

.row[data-space="20"] {
    margin-right: -10px;
    margin-left: -10px;

    > [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.modal {
    .modal-content {
        @include border-radius(0);
        border: none;
        @include box-shadow(0 0 25px rgba(0,0,0,0.35));
    }

    .modal-body {
        padding: 0;
    }

    [data-dismiss] {
        @include absolute(10px,f,f,10px);
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 9999;

        &:before {
            @include absolute(15px,f,f,-5px);
            content: '';
            transform: rotate(45deg);
            width: 40px;
            height: 1px;
            background: #000;
        }

        &:after {
            @include absolute(15px,f,f,-5px);
            content: '';
            transform: rotate(-45deg);
            width: 40px;
            height: 1px;
            background: #000;
        }
    }
}

.mobile-menu {
    @include fixed(0,-280px,0,f);
    width: 280px;
    background: #fff;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    @include transition(0.4s);
    padding: 50px 0 0;
    @include box-shadow(0 0 20px rgba(0, 0, 0, 0.2));
    overflow-y: auto;

    &--open {
        right: 0;
        visibility: visible;
        opacity: 1;
    }

    nav {
        > ul {
            > li {
                position: relative;
                line-height: 45px;

                > a {
                    display: block;
                    color: #333;
                    line-height: inherit;
                    padding: 0 15px;
                    position: relative;
                    font-size: 13px;

                    i {
                        float: right;
                        line-height: 45px;
                        width: 25px;
                        margin-right: 5px;
                        font-size: 14px;
                    }
                }

                > i {
                    @include absolute(0,f,f,0);
                    line-height: inherit;
                    width: 45px;
                    text-align: center;
                    cursor: pointer;
                    font-size: 12px;
                    color: #333;
                    @include transition(0.3s);
                    z-index: 10;
                }

                &.open {
                    > a {
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    > i {
                        @include transform(rotateX(180deg));
                    }
                }

                &:last-child {
                    a {
                        border: none;
                    }
                }

                &:hover {
                    > a {
                        background-color: #f5f5f5
                    }
                }

                > ul {
                    display: none;
                    background-color: #f9f9f9;

                    li {
                        > a {
                            display: block;
                            line-height: 45px;
                            font-size: 13px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                            padding: 0 15px;

                            i {
                                float: right;
                                line-height: 45px;
                                width: 25px;
                                margin-right: 5px;
                                font-size: 15px;
                            }
                        }
                    }

                    &:hover {
                        > a {
                            background-color: rgba(255, 255, 255, 0.2);
                        }
                    }
                }
            }
        }
    }

    &__close-menu {
        @include absolute(10px,f,f,10px);
        width: 30px;
        height: 30px;
        cursor: pointer;

        &:before {
            @include absolute(15px,f,f,-5px);
            width: 40px;
            height: 1px;
            background-color: #555;
            content: '';
            @include transform(rotate(-45deg));
        }

        &:after {
            @include absolute(15px,f,f,-5px);
            width: 40px;
            height: 1px;
            background-color: #555;
            content: '';
            @include transform(rotate(45deg));
        }
    }
}

.main-header {
    background-color: #fff;
    @include fixed(0,0,f,0);
    z-index: 999;
    @include box-shadow(0 1px 24px rgba(0, 0, 0, 0.26));
    padding: 12px 0;

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center
    }

    &__mobile-menu-toggle {
        line-height: 40px;
        margin-left: 15px;
        display: none;

        a {
            height: 40px;
            width: 28px;
            margin: 0 auto;
            display: block;
            position: relative;
            font-size: 25px;

            &:before {
                @include absolute(50%,0,f,0);
                height: 2px;
                margin-top: -1px;
                background-color: #000;
                content: '';
                @include transition(0.2s);
                @include box-shadow(0 -10px 0 0 #000,0 10px 0 0 #000);
            }

            &:hover {
                &:before {
                    @include box-shadow(0 -8px 0 0 #000,0 8px 0 0 #000);
                }
            }
        }
    }

    &__logo {
        margin-left: auto;
        display: flex;
        justify-content: flex-start;

        a {
            font-size: 14px;
        }

        img {
            margin-left: 5px;
            max-height: 60px;
        }

        span {
            color: $color;
        }
    }

    &__nav {
        > ul {
            display: flex;
            justify-content: flex-start;

            > li {
                margin-left: 30px;

                &:last-child {
                    margin-left: 0
                }

                a {
                    font-size: 13px;
                    font-weight: 500;
                    @include transition(0.3s);

                    &:hover {
                        color: $color;
                    }
                }
            }
        }
    }

    &__btns {
        margin-right: 40px;

        a {
            line-height: 40px;
            display: block;
            padding: 0 25px;
            color: $color;
            font-size: 13px;
            font-weight: 500;
            @include box-shadow(0 1px 24px rgba(0, 0, 0, 0.25));
            @include transition(0.3s);
            @include border-radius(20px);

            &:hover {
                @include box-shadow(0 1px 15px rgba(0, 0, 0, 0.15));
            }
        }
    }
}

.home {
    padding: 50px 0 0;
}

.site-name {
    margin-bottom: 30px;

    h1, h2 {
        line-height: 40px;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    p {
        line-height: 30px;
        font-size: 18px;
        color: #555;
        margin-bottom: 0;

        span {
            color: #83c030;
        }
    }
}

.filter {
    @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.1));
    background-color: #fff;
    padding: 30px 30px 15px;
    margin-bottom: 30px;

    .form-control {
        border-color: #e7e7e7
    }

    .bootstrap-select {
        > .dropdown-toggle {
            border-color: #e7e7e7
        }
    }
}

.cats {
    margin-bottom: 20px;

    a {
        line-height: 36px;
        border: 2px solid #a1a1a1;
        padding: 0 25px;
        display: inline-block;
        @include border-radius(20px);
        font-size: 14px;
        color: #5d5d5d;
        @include transition(0.3s);

        &:hover {
            color: $black;
            border-color: #666;
        }
    }

    .swiper-slide {
        width: auto;
    }
}

.photos {
    &__item {
        height: 262.5px;
        margin-bottom: 20px;
        @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.15));
        @include border-radius(5px);
        position: relative;
        overflow: hidden;

        &--big {
            height: 545px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            @include transition(0.3s);
        }

        &:hover {
            img {
                opacity: 0.7
            }
        }
    }
}


// detail page
.detail {
    padding: 50px 0;

    &__breadcrumb {
        margin-bottom: 20px;

        ul {
            display: flex;
            justify-content: flex-start;

            li {
                margin-left: 30px;
                padding-left: 35px;
                position: relative;
                line-height: 30px;
                color: #6e6d6d;
                font-size: 14px;

                &:before {
                    content: '/';
                    @include absolute(0,f,f,0);
                    width: 5px;
                    text-align: center;
                    line-height: inherit;
                }

                &:last-child {
                    margin-left: 0;
                    padding-left: 0;

                    &:before {
                        display: none;
                    }
                }

                a {
                    color: #6e6d6d;
                    display: block;
                    @include transition(0.3s);

                    &:hover {
                        color: #212121;
                    }
                }
            }
        }
    }

    &__wrapper {
    }

    &__title {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;

        h1 {
            font-size: 25px;
            color: #343434;
            font-weight: 600;
            margin-bottom: 10px;
            line-height: 30px;
        }

        time {
            color: #696969;
            font-size: 14px;
        }
    }

    &__info {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                line-height: 30px;
                margin-bottom: 10px;
                margin-left: 35px;
                display: flex;
                justify-content: flex-start;
                font-size: 14px;

                &:first-child {
                    width: 100%;
                    margin-left: 0;
                }

                span {
                    color: #696969;
                    margin-left: 5px;
                }

                a {
                    color: #353535;
                    padding: 0 5px;
                }
            }
        }
    }

    &__description {
        color: #555353;
        line-height: 40px;
        font-size: 14px;
        text-align: justify;
    }

    &__side {
        padding-right: 130px;
    }

    &__slider {
        position: relative;

        &__main {
            height: 505px;
            margin-bottom: 30px;

            .swiper-container {
                height: 100%;
            }

            .swiper-slide {
                height: 100%;
                @include border-radius(5px);
                @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.15));
                overflow: hidden;
                position: relative;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                video {
                    display: block;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &__thumb {
            @include absolute(0,-130px,0,f);
            width: 115px;

            .swiper-container {
                height: calc(100% + 20px);
                padding: 10px;
                margin: -10px;
            }

            .swiper-slide {
                height: 115px;
                cursor: pointer;
                @include border-radius(5px);
                @include box-shadow(0 1px 10px rgba(0, 0, 0, 0.15));
                overflow: hidden;
                position: relative;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0.75;
                }

                &.swiper-slide-thumb-active {
                    img {
                        opacity: 1
                    }
                }

                &-video {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #999;

                    i {
                        font-size: 25px;
                        color: #111;
                    }
                }
            }
        }
    }

    &__btn {
        margin-bottom: 30px;

        a {
            line-height: 60px;
            background-color: #83c030;
            color: #fff;
            text-align: center;
            @include box-shadow(0 4px 21px rgba(0,0,0,0.35));
            display: block;
            @include border-radius(5px);
            font-size: 16px;
            font-weight: 600;
            @include transition(0.3s);

            &:hover {
                @include box-shadow(0 0 10px rgba(0,0,0,0.25));
            }
        }
    }

    &__share {
        display: flex;
        justify-content: space-between;

        a {
            line-height: 60px;
            background-color: #fff;
            color: #1a1a1a;
            text-align: center;
            @include box-shadow(0 4px 21px rgba(0,0,0,0.04));
            display: block;
            @include border-radius(5px);
            font-size: 16px;
            font-weight: 600;
            width: calc(33% - 15px);
            @include transition(0.3s);

            &:hover {
                @include box-shadow(0 0 10px rgba(0,0,0,0.1));
            }
        }
    }
}

// insert ads page
.form {
    padding: 50px 0;

    &__wrapper {
        padding-bottom: 30px;
        height: 100%;
    }

    &__box {
        @include box-shadow(0 0 29px rgba(0, 0, 0, 0.09));
        padding: 30px;
        background-color: #fff;
        height: 100%;

        &__title {
            margin-bottom: 30px;

            h3 {
                line-height: 30px;
                font-size: 18px;
                color: #292929;
                font-weight: 500;
            }
        }

        &__info {
            ul {
                li {
                    line-height: 25px;
                    font-size: 11px;
                    color: #646363;
                }
            }
        }

        input {
            margin-bottom: 15px;
        }

        .bootstrap-select {
            margin-bottom: 15px;

            > .dropdown-toggle {
                border: none;
                @include box-shadow(0 0 29px rgba(0, 0, 0, 0.09));
                padding: 0 15px;

                &:after {
                    display: none
                }
            }
        }

        &__upload {
            display: flex;
            flex-wrap: wrap;

            &__image {
                position: relative;
                width: 80px;
                height: 80px;
                overflow: hidden;
                font-size: 35px;
                text-align: center;
                line-height: 80px;
                margin-left: 10px;
                margin-bottom: 10px;
                @include transition(0.3s);
                border: 1px dashed #787878;
                color: #787878;

                &:before {
                    content: '\e902';
                    font-family: dakeh;
                    display: block;
                    line-height: 70px;
                }

                &:hover {
                    background-color: #f1f1f1;
                }

                i {
                    @include absolute(50%,f,f,50%);
                    line-height: 30px;
                    width: 30px;
                    height: 30px;
                    margin-top: -15px;
                    margin-left: -15px;
                    text-align: center;
                    color: #fff;
                    background: rgba(0,0,0,0.5);
                    @include border-radius(3px);
                    display: none;
                    z-index: 10;
                    cursor: pointer;
                    font-size: 25px;
                }

                span {
                    display: block;
                    font-size: 10px;
                    line-height: 10px;
                    width: 100%;
                    margin-top: -10px;
                }

                input[type=file] {
                    @include absolute(0,0,f,f);
                    min-width: 100%;
                    min-height: 100%;
                    font-size: 100px;
                    text-align: right;
                    filter: alpha(opacity=0);
                    opacity: 0;
                    outline: none;
                    background: white;
                    cursor: inherit;
                    display: block;
                    cursor: pointer;
                    z-index: 5;
                }

                img {
                    @include absolute(0,0,0,0);
                    width: 100%;
                    height: 100%;
                    display: none;
                }

                &__set-val {
                    &:hover {
                        i {
                            display: block;
                        }
                    }

                    img {
                        display: block;
                    }
                }
            }

            &__add {
                position: relative;
                width: 80px;
                height: 80px;
                border: 1px dashed #787878;
                color: #787878;
                overflow: hidden;
                font-size: 35px;
                text-align: center;
                line-height: 80px;
                float: left;
                cursor: pointer;
                @include transition(0.3s);

                &:hover {
                    background-color: #f1f1f1;
                }

                i {
                    display: block;
                    line-height: inherit;
                }
            }
        }
    }

    &__btn {
        display: flex;
        flex-direction: row-reverse;

        button, a {
            line-height: 60px;
            background-color: #83c030;
            color: #fff;
            text-align: center;
            @include box-shadow(0 4px 21px rgba(0, 0, 0, 0.35));
            display: block;
            @include border-radius(5px);
            font-size: 16px;
            font-weight: 600;
            @include transition(0.3s);
            border: none;
            width: 33.3333333%;
        }
    }
}

// myads page
.myads {
    padding: 50px 0;

    &__tabs {
        > ul {
            display: flex;
            justify-content: flex-start;
            border-bottom: 2px solid #ccc;
            margin-bottom: 20px;

            > li {
                border-bottom: 2px solid transparent;
                color: #ccc;
                padding: 0 30px;
                font-size: 18px;
                font-weight: 500;
                @include transition(0.3s);
                line-height: 50px;
                margin-bottom: -2px;
                cursor: pointer;

                &.active {
                    border-color: $color;
                    color: $color;
                }
            }
        }

        .tab-content {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}


// modals
.login-modal {
    text-align: center;
    padding: 20px;

    h3 {
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 30px;
        font-weight: 600;
        color: #3c3c3c;
    }

    p {
        margin-bottom: 20px;
        color: #7e7e7e;
    }

    span {
        line-height: 50px;
        font-size: 15px;
        display: block;
        margin-top: 10px;
        color: #666262;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .form-control {
        border-width: 1px;
        padding: 0 15px;
        line-height: 48px;
        height: 50px;
        text-align: right;
    }

    &__btn {
        line-height: 50px;
        background-color: $color;
        color: #fff;
        text-align: center;
        @include box-shadow(0 0 13px rgba(0, 0, 0, 0.38));
        display: block;
        font-size: 14px;
        font-weight: 600;
        @include transition(0.3s);

        &:hover,
        &:focus,
        &:active {
            color: #fff;
        }
    }
}

.profile-modal {
    &__title {
        padding: 20px 20px;
        border-bottom: 1px solid #e8e8e8;

        h3 {
            color: #010101;
            font-size: 18px;
            line-height: 30px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        span {
            color: #777777
        }
    }

    &__list {
        padding: 10px;

        ul {
            li {
                display: flex;
                line-height: 45px;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                margin-bottom: 10px;

                > i {
                    line-height: inherit;
                    margin-left: 15px;
                    font-size: 20px;
                    color: #595959;
                }

                a {
                    line-height: inherit;
                    display: block;
                    font-size: 14px;
                    color: #5a5a5a;
                    padding: 0 10px;
                    width: 100%;

                    &:hover {
                        background-color: #f5f5f5
                    }
                }
            }
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            &__inner {
                width: 60%;
            }

            > .btn {
                width: calc(40% - 10px);
                text-align: center
            }
        }
    }
}

@import '_media';
