@{
    Layout = "_Layout";
    ViewData["Title"] = "Online Payment";
}
<h1>نتیجه پرداخت</h1>
<div class="alert alert-success">
    <h2>تشکر از پرداخت شما</h2>
    <h3>@ViewBag.PursheResult</h3>
    <h4>کد پیگیری شما : @ViewBag.code</h4>
</div>