@model Dake.Models.ContactUs

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">تماس با ما</h3>
                </div>
                <div class="row">
                    <form asp-action="CreateOrEdit" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="id" type="hidden" class="form-control" />

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="androidVersion" class="control-label"></label>
                                    <input asp-for="androidVersion" class="form-control" />
                                    <span asp-validation-for="androidVersion" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="email" class="control-label"></label>
                                    <input asp-for="email" class="form-control" />
                                    <span asp-validation-for="email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="pageInstagramUrl" class="control-label"></label>
                                    <input asp-for="pageInstagramUrl" class="form-control" />
                                    <span asp-validation-for="pageInstagramUrl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="pageTelegramUrl" class="control-label"></label>
                                    <input asp-for="pageTelegramUrl" class="form-control" />
                                    <span asp-validation-for="pageTelegramUrl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="pageTwitterUrl" class="control-label"></label>
                                    <input asp-for="pageTwitterUrl" class="form-control" />
                                    <span asp-validation-for="pageTwitterUrl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="phone" class="control-label"></label>
                                    <input asp-for="phone" class="form-control" />
                                    <span asp-validation-for="phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label asp-for="PageEitta" class="control-label"></label>
                                    <input asp-for="PageEitta" class="form-control" />
                                    <span asp-validation-for="PageEitta" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="col-md-10">
                                <div class="form-group">
                                    <input type="submit" value="ثبت" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
</form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}